<div class="container margin_60_35" >
    <div class="row">
        <div class="col-md-8">
            <div class="strip_list wow fadeIn animated" style="visibility: visible; animation-name: fadeIn;">
                <figure>
                    <a class="imglink" href="#">
                        <img class="image-url" src="img/services/default.png"/>
                    </a>
                </figure>

                <div class="heading">
                <h3><a class="personname"></a></h3>
                </div>
                <div class="address">
                    <small class="addresslist"></small>
                </div>
                <div class="des clickshow">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                    <a class="phone"></a>
                </div>
                <div class="des clickshow">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                    <a class="email"></a>
                </div>
                <div class="des">
                    <p></p>
                </div>
                <div class="stars">
                </div>
                <div class="row" style="margin: 0;">
                    <h4 class="service"></h4>
                </div>
            </div>
        </div>
    </div>
</div>
<!--<div class="container-fliud imgsliderpad">-->
    <!--<div class="wrapper row">-->
        <!--<div class="preview col-md-5">-->
            <!--<div class="preview-pic tab-content">-->
                <!--<div class="tab-pane active">-->
                    <!--<a class="imglink" href="#">-->
                        <!--<img class="image-url" src="img/services/default.png"/>-->
                    <!--</a>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="details col-md-7">-->
            <!--<div class="list">-->
                <!--<div class="heading">-->
                    <!--<h4><a class="personname"></a></h4>-->
                    <!--<div class="stars">-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="address">-->
                    <!--<p class="addresslist"></p>-->
                <!--</div>-->
                <!--<div class="des clickshow">-->
                    <!--<i class="fa fa-phone" aria-hidden="true"></i>-->
                    <!--<a class="phone"></a>-->
                <!--</div>-->
                <!--<div class="des clickshow">-->
                    <!--<i class="fa fa-envelope" aria-hidden="true"></i>-->
                    <!--<a class="email"></a>-->
                <!--</div>-->
                <!--<div class="des">-->
                    <!--<p></p>-->
                <!--</div>-->
                <!--<div class="row" style="margin: 0;">-->
                    <!--<h4 class="service"></h4>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->